.Abt
{
    height: 620px;
    padding: 50px;
    background: transparent;
}
.papt
{
    height: 600px;
    width: 100%;
}
.abtbox
{
    justify-content: center;
}
.Info
{
    margin-top: 100px;
}
.Info h3
{
    font-size: 2rem;
}
.Info a
{
    text-decoration:none;
}