.Hom
{
    width: 100%;
    height: 600px;
    background:transparent;
}
.Box
{
    display: flex;
    justify-content: center;
    margin-top: 180px;
}
.Box1
{
    margin-top: 20px;
    font-size: 2rem;
    width: 390px;
}
.Box1 p
{
    padding-top: 10px;
    padding-bottom: 10px;
}
.Box2
{
    margin-top: -50px;
}
.Box1,.Box2
{
    padding-left: 100px;
    padding-right: 100px;
}
.Hom .Box img
{
    height: 400px;
    width: 480px;
}